/IOSysNetCore/.vs
/IOSysNetCore/TDB.AutoSimulator.ConsoleApp/obj
/IOSysNetCore/TDB.DB/obj
/IOSysNetCore/IOSys.Helper/obj
/IOSysNetCore/IOSys.DTO/obj
/IOSysNetCore/IOSys.BLL/obj
/IOSysNetCore/Test/obj
/IOSysNetCore/IOSys.DAL/obj
/IOSysNetCore/IOSys.Model/obj
/IOSysNetCore/IOSys.API/obj
/IOSysNetCore/IOSys.API/bin
/IOSysNetCore/TDB.DB/bin
/IOSysNetCore/Test/bin
/IOSysNetCore/IOSys.BLL/bin
/IOSysNetCore/IOSys.DAL/bin
/IOSysNetCore/IOSys.DTO/bin
/IOSysNetCore/IOSys.Helper/bin
/IOSysNetCore/IOSys.Model/bin
/IOSysNetCore/TDB.AutoSimulator.ConsoleApp/bin
