/IOSysNetCore/.vs
/IOSysNetCore/TDB.AutoSimulator.ConsoleApp/obj
/IOSysNetCore/TDB.DB/obj
/IOSysNetCore/IOSys.Helper/obj
/IOSysNetCore/IOSys.DTO/obj
/IOSysNetCore/IOSys.BLL/obj
/IOSysNetCore/Test/obj
/IOSysNetCore/IOSys.DAL/obj
/IOSysNetCore/IOSys.Model/obj
/IOSysNetCore/IOSys.API/obj
/IOSysNetCore/IOSys.API/bin
